<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>LUKS KeyMaster</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="shortcut icon" href="" type="image/x-icon" />
  <meta name="theme-color" content="#5eb9d7" />
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div class="logo">
    <img src="/static/luks-logo.png" />
  </div>
  <div>
    endpoint: {{request.endpoint}}<br>
    endpoint: {{request.url}}<br>
    endpoint: {{request.path}}<br>
    endpoint: {{request.script_root}}<br>
    endpoint: {{request.blueprint}}<br>
  </div>
    <nav>
        <a href="{{ url_for('home_bp.home') }}">Home</a>
        <a href="{{ url_for('settings_bp.create') }}">Settings</a>
    </nav>


  {% block content %}{% endblock %}
</body>

</html>